.slider {
    width: 250px;
    height: 180px;
    border: solid red 1px;
    margin: 0 auto;
    overflow: hidden;
    &-list {
        position: relative;
        &__item{
            width: 250px;
            height: 180px;
            border: solid black 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            position: absolute;
            background: #fff;
            left: 250px;
            transition: all 1s;
            
            &.active {
                z-index: 100;
                left: 0px;
            }
        }
        

    }
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    &__item{
        width: 12px;
        height: 12px;
        border: 1px solid #000;
        border-radius: 50%;
        margin: 0 20px;
        cursor: pointer;
    }
}

